<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav>
        <div class="switchedbox">
            <label class="switch switch-checked">
                <input type="checkbox" checked />
                <div></div>
            </label>
        </div>

        <div class="navbtn">
            <button class="menu"
                onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))"
                aria-label="Main Menu">
                <svg width="50" height="50" viewBox="0 0 100 100">
                    <path class="line line1"
                        d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                    <path class="line line2" d="M 20,50 H 80" />
                    <path class="line line3"
                        d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
                </svg>
            </button>
        </div>
    </nav>

    <section class="firstsec">
        <div>
            <h1>
                New Automation Tool for Your Home
            </h1>

            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi neque
                cum odit iste. Error quos inventore necessitatibus eius, architecto, perspiciatis voluptates! Dolorem,
                distinctio ad quibusdam aspernatur repellendus quisquam odit cupiditate suscipit labore!
            </h4>

            <button>See our Project</button>
        </div>

        <div>
            <img src="illustration1.svg" alt="">
        </div>

    </section>

    <section class="secondsec">
        <h3>What we can do to help <br> our client grow in <br>
            digital era</h3>

        <div>
            <img src="1.svg" alt="">
            <h4>Make Your business To Better Famous in Internet</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique inventore quaerat aliquam aut
                accusantium! Voluptatem enim veniam quam excepturi! A repudiandae pariatur voluptates praesentium neque
                enim adipisci delectus! Sapiente, molestiae!</p>
            <a href="#">Learn more -></a>
        </div>

        <div>
            <img src="2.svg" alt="">
            <h4>Bring Technology To Your Comfortable Home</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique inventore quaerat aliquam aut
                accusantium! Voluptatem enim veniam quam excepturi! A repudiandae pariatur voluptates praesentium neque
                enim adipisci delectus! Sapiente, molestiae!</p>
            <a href="#">Learn more -></a>
        </div>

        <div>
            <img src="3.svg" alt="">
            <h4>Build Your Digital Product That Suitable For Your Need</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique inventore quaerat aliquam aut
                accusantium! Voluptatem enim veniam quam excepturi! A repudiandae pariatur voluptates praesentium neque
                enim adipisci delectus! Sapiente, molestiae!</p>
            <a href="#">Learn more -></a>
        </div>
    </section>

    <section class="thirdsec">
        <h3>Our Finished Project</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident accusamus pariatur ipsam vel, quos id
            nihil! Eius ut corporis rerum, est rem quae, nesciunt voluptatibus quidem nobis, similique deserunt ea?</p>

    </section>

    <section class="fourthsec">
        <div><img src="bigmgroup.png" alt=""></div>

        <article>
            <div><img src="mgroup2.png" alt=""></div>
            <div><img src="maskgroup3.png" alt=""></div>
        </article>


    </section>

    <footer>
        <section class="firstsecfooter">
            <article class="footertext">
                <h3>Our Beloved Client</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quibusdam debitis cum consectetur aperiam autem, ea libero in fugiat. Ipsam, hic. Officiis et
                    voluptatem distinctio quae iste pariatur modi veritatis enim.</p>
            </article>

            <article class="gridfooter">
                <div>
                    <h4>LOGO CLIENT 1</h4>
                </div>
                <div>
                    <h4>LOGO CLIENT 2</h4>
                </div>
                <div>
                    <h4>LOGO CLIENT 3</h4>
                </div>
                <div>
                    <h4>LOGO CLIENT 4</h4>
                </div>
                <div>
                    <h4>LOGO CLIENT 5</h4>
                </div>
                <div>
                    <h4>LOGO CLIENT 6</h4>
                </div>
                <div>
                    <h4>LOGO CLIENT 7</h4>
                </div>
                <div>
                    <h4>More Client</h4>
                </div>

            </article>

        </section>

        <section class="secondsecfooter">
            <article class="textandbtn">
                <div>
                    <h3>Intersted to work with our team?</h3>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur aut officia aliquam, eligendi
                        neque quam eum consectetur dolor corrupti quas sit fugit laborum sint ab repudiandae voluptatum
                        accusantium tenetur ratione.</p>
                </div>

                <div>
                    <button>Let's Talk</button>
                </div>
            </article>

            <article class="lastfooterlinks">
                <div>
                    <ul>
                        <li class="lastoftheflex"><img src="logo.png" alt="">
                            <h3>Afrianska</h3>
                        </li>
                        <li>
                            <p>
                                A. Lorem ipsum dolor sit amet, conseteure adispim
                            </p>
                        </li>
                        <li>
                            <p>
                                T. +523 3452345 2345
                            </p>
                        </li>
                        <li>
                            <p>
                                E.  hallo.afrian@gmail.com
                            </p>
                        </li>
                    </ul>
                </div>

                <div>
                    <ul>
                        <li>
                            <h4>About US</h4>
                        </li>
                        <li>
                            <p>About</p>
                        </li>
                        <li>
                            <p>What We Do</p>
                        </li>
                        <li>
                            <p>Project</p>
                        </li>
                        <li>
                            <p>How it Work With Us</p>
                        </li>
                    </ul>
                </div>

                <div>
                    <ul>
                        <li>
                            <h4>Follow US</h4>
                        </li>
                        <li>
                            <p>Instagram</p>
                        </li>
                        <li>
                            <p>Facebook</p>
                        </li>
                        <li>
                            <p>LinkedIn</p>
                        </li>
                        <li>
                            <p>Youtube</p>
                        </li>
                    </ul>
                </div>
            </article>
        </section>


    </footer>



    <script src="functions.js"></script>
</body>

</html>